
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

:root {
  /* colors */
  --primary-100: #c5e5fc;
  --primary-200: #a5d5f8;
  --primary-300: #8bcbf9;
  --primary-400: #6ebef7;
  --primary-500: #49a6e9;
  --primary-600: #2d87c8;
  --primary-700: #1a6aa2;
  --primary-800: #104e7a;
  --primary-900: #063251;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  background: var(--backgroundColor);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 1;
  color: var(--textColor);
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

.text {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

small,
.text-small {
  font-size: var(--small-text);
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
/* buttons */

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}
.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}
.btn-hipster {
  color: var(--primary-500);
  background: var(--primary-200);
}
.btn-hipster:hover {
  color: var(--primary-200);
  background: var(--primary-700);
}
.btn-block {
  width: 100%;
}

/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
}

.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}
.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}
/* form */

.form {
  width: 90vw;
  max-width: var(--fixed-width);
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}
.form-label {
  display: block;
  font-size: var(--small-text);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}
.form-input,
.form-textarea,
.form-control select {
  width: 100%;
  padding: 0.375rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}
::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}
.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}
/* alert */

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--primary-500);
  animation: spinner 0.6s linear infinite;
  margin: 0 auto;
}

/* title */

.title {
  text-align: center;
}

.title-underline {
  background: var(--primary-500);
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: 1rem;
}
/*
=============== 
Project CSS
===============
*/

main{
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: whitesmoke;
}
/* 
.qr-img-overlay{
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: grid;
  place-items: center;
  transition: var(--transition);
}

.qr-img{
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 3rem;
  position: relative;
}

.qr-img img{
  width: 160px;
  height: 160px;
}

.btn-close{
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border-color: transparent;
  color: var(--red-dark);
  cursor: pointer;
}
.btn-close svg{
  width: 40px;
  height: 40px;
}
.qr-container{
  background-color: var(--primary-300);
  padding: 3rem;
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-3);
  transition: var(--transition);
  z-index: 2;
}

.form-control{
  padding: 0.5rem 0;
}
.form-control label{
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}

.btn-container{
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}

.btn-container button{
  padding: 0.75rem;
}

.form-control select{
  padding: 0.35rem 0;
  border-color: transparent;
  border-radius: var(--borderRadius);
  max-width: 500px;
  width: 300px;
  color: var(--primary-700);
  font-weight: 700;
}

.form-control option, .form-control input{
  color: var(--primary-700);
  font-weight: 700;
}

.form-control input, .form-control select{
  outline: none;
}

.form-control input:focus, .form-control select:focus{
  border-color: var(--primary-500);
}

.qr-container:hover{
  background-color: var(--primary-400);
}

@media screen and (min-width: 768px) {
  .qr-container{
    padding: 3rem 5rem;
  }
  .qr-img img{
    width: 320px;
    height: 320px;
  }
  .btn-close svg{
    width: 50px;
    height: 50px;
  }
}


/* Animation 

.galaxy{
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.sky{
  width: 100%w;
  height: 100%;
  background: rgb(16,21,29);
  background: linear-gradient(180deg, rgb(8, 10, 26) 0%, rgb(40, 43, 71) 100%);
}

i {
  position: absolute;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    transparent
  );
  height: 300px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  animation: starDrop 5s infinite linear;
  filter: blur(0.8px);
}

i:nth-child(4n + 1) {
  background: linear-gradient(
    0deg,
    rgb(253, 242, 191) 0%,
    transparent
  );
}

i:nth-child(4n + 2) {
  background: linear-gradient(
    0deg,
    rgb(210, 228, 255) 0%,
    transparent
  );
}

i:nth-child(4n + 3) {
  background-color: rgb(250, 210, 191);
  background: linear-gradient(
    0deg,
    rgba(2250, 210, 191, 1) 0%,
    transparent
  );
}

@keyframes starDrop {
  0% {
    transform: rotate(45deg) translate(0px, -2000px);
  }

  100% {
    transform: rotate(45deg) translate(0px, calc(100vh + 200px));
  }
}

j{
  display: inline-block;
  position: absolute;
  background-color: white;
  border-radius: 50%;
  animation: starMove 1s linear infinite;
}

j:nth-child(3n+1){
  background-color: rgb(248, 193, 167);
}

j:nth-child(3n+2){
  background-color: rgb(207, 199, 253);
}

@keyframes starMove {
  0% {
    transform: translateX(-100vw);
  }

  100% {
    transform: translateX(100vw);
  }
}



.moon{
  position: absolute;
  top: 20%;
  right: 15%;
  content: '';
  width: 110px;
  height: 110px;
  border-radius: 50%;
  z-index: 1;
  background: rgb(253, 248, 221);
  filter: blur(1px);
  box-shadow: 0px 0px 5px 5px rgba(253, 248, 221, 0.5);
  transition: 250ms;
  cursor: pointer;
}

.moon:hover{
  transform: scale(1.05);
}


/* Login 

*/
.login-container{
  position: fixed;
  top: 2rem;
  right: 3rem;
  z-index: 2;
  width: 15rem;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.login-btn, .register-btn, .logout-btn{
  background: transparent;
  border-color: transparent;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  padding: 0.35rem;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  cursor: pointer;
  transition: var(--transition);
  width: 7rem;
}

.login-btn:hover, .register-btn:hover, .logout-btn:hover{
  background: var(--primary-500);
  font-weight: 700;
}

.login-warning{
  position: fixed;
  top: 0;
} 

.center-container{
  display: grid;
  gap: 1rem;
  align-items: start;
  transition: var(--transition);
}

.menu, .picked-items, .payment{
  
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-4);
}

.menu{
  padding: 1rem;
  background-color: #0f5132;
  transition: var(--transition);
}

.menu-type{
  
  
  display: flex;
  justify-content: center;
  gap: 4rem;
  
}

.menu-type label{
  text-transform: capitalize;
  font-weight: 600;
  color: white;
}

.menu-type label input[type="radio"]{
  margin-right: 0.5rem;
  cursor: pointer;
}

select{
  width: 100%;
}


.picked-items{
  height: 40vh;
  background-color: #0f172a;
  color: white;
  padding: 1rem;
  min-width: 60vw;
  transition: var(--transition);
  height: 70vh;
}

.payment{
  background-color: #1a6aa2;
  padding: 1rem;
  transition: var(--transition);

}

.type-select{
  margin-top: 1rem;
  padding: 0.35rem;
  border-radius: var(--borderRadius);
  font-weight: 700;
  outline: none;
}
.type-select:focus{
    border: 1px solid var(--primary-500);
}
.type-select option{
  font-weight: 700;
}

.picked-item-images{
  display: grid;
  height: 100%;
  place-items: center;
}

.picked-item-images img{
  width: 300px;
  height: 300px;
}


@media screen and (min-width: 992px) {
  .center-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    align-items: center;
    padding: 0 5rem;
  }
  
}

